$block: '.main-page';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
#{$block} {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  height: calc(100% - 66px);
  background-color: #232323;

  &__setup-form{
    text-align: center;
  }
  

  &__input{
    color: black;
    border-radius: 12px;
    width: 232px;
    background-color: #ffffff;
  }

  &__input.g-text-input_size_xl .g-text-input__additional-content_placement_start {
    padding-left: 12px;
    padding-right: 4px;
  }


  &__input {
    .g-text-input__control {
      color: black !important;
      border-width: 3px !important;
      border-radius: 12px;
    }
  }
  &__setup-button{
    margin-left: 1vw;
    background-color: red;
  }

  &__acts-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    border-radius: 12px;
    padding: 22px 32px;
    margin-bottom: 4px;
  }

  &__title {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
  }

  &__group-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    & > .g-button {
      margin-left: 8px;
    }
  }

  &__table-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    padding: 50px 100px;
    overflow: auto;
  }

  &__table-wrapper {
    width: 100%;
    height: 100%;
    color:white;
    box-shadow: 0px 8px 20px 0px rgba(255, 255, 0, 0.28);
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
  }

  &__tag-table {
    width: 100%;
    height: 100%;
    padding: 32px;

    & .description {
      max-width: 300px;
      white-space: wrap;
    }
  }

  &__acts-empty {
    width: 100%;
    height: 100%;
    border: 0,5px solid #ffffff1a;
    border-radius: 16px;
    background: url(../../assets/matrix.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__acts-empty-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #ffffffd9;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__title {
    display: block;
    height: 100%;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 0 17px rgba(255, 255, 0, 0.58);
    padding-left: 39vw;
    padding-top: 200px;
  }

  &__acts-empty-desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #00000080;
    max-width: 430px;
    text-align: center;
    margin-bottom: 10px;
  }

  & .g-label {
    border-radius: 12px;
  }
}

.qr-history.g-modal {
  backdrop-filter: blur(10px);

  & .g-modal__content-wrapper {
    margin: 0;
    border-radius: 0;
    height: 100%;
    overflow: hidden;

    & .g-modal__content {
      border-radius: 0;
      height: 100%;
    }
  }

  & .g-modal__content-aligner {
    position: relative;
    justify-content: flex-end;
    height: 100%;
  }
}
