$block: '.auth-page';

#{$block} {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #232323;

  &__form {
    width: 464px;
    min-height: 300px;
    background-color: #232323;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Добавлено для горизонтального центрирования */
    justify-content: center;
  }

  &__logo-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    display: block;
    height: 100%;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 0 17px rgba(255, 255, 0, 0.58);
  }

  &__input.g-text-input_size_xl .g-text-input__additional-content_placement_start {
    padding-left: 12px;
    padding-right: 4px;
  
    & svg path {
      fill: #ffffffc3;
    }
  }

  &__input.g-text-input_size_xl .g-text-input__additional-content_placement_end {
    & svg path {
      fill: #ffffffc3;
    }
  }

  &__submit-btn {
    background-color: #ff003de5;
    color: #ffffff;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
  }

  &__submit-btn:focus,
  &__submit-btn:hover {
    color: #ffffff;
  }

  &__input {
    .g-text-input__control {
      &::placeholder {
        color: #a0a0a0 !important; /* Серый цвет */
        opacity: 1 !important; /* Для Firefox */
      }
      
      /* Для разных браузеров */
      &::-webkit-input-placeholder { color: #a0a0a0 !important; }
      &::-moz-placeholder { 
        color: #a0a0a0 !important;
        opacity: 1 !important;
      }
      &:-ms-input-placeholder { color: #a0a0a0 !important; }
      &:-moz-placeholder { color: #a0a0a0 !important; }
    }
  }
  
}


